---

interface Props {
    lang: Lang
}

import { PrismaClient } from "@prisma/client";
import CityButton from './CityButton.astro';
import Page from './Page.astro';
import PageTitle from './PageTitle.astro';
import Header from '../layouts/Header.astro';
import office from '@images/office.png';
import beads from '@images/beads.png';
import type { Lang } from "src/types";
import {Image} from '@astrojs/image/components';

const prisma = new PrismaClient();
const cities = await prisma.city.findMany({});
---
<style>
    .gabinety {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }
    .miasta {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .office {
        height: 600px;
        width: 434px;
    }
    .beads {
        width: 113px;
        height: 774px;
    }
    /* .wrapper {
        display: flex;
        flex-basis: 60%;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    } */
    @media(max-width: 1090px) {
        .miasta {
            flex-direction: column;
            gap: 20px;
        }
    }
    @media(max-width: 900px) {
        .gabinety {
            flex-direction: column-reverse;
        }
        .beads {display: none;}
    }
    @media(max-width: 520px) {
        .office {
            height: auto;
            width: 80%;
        }
    }
</style>

<Page color="violet">
    <Header slot="header">
        <PageTitle slot="lhs" title="Lista gabinetów lekarskich" />
    </Header>
    <div class="gabinety pad-body" slot="body">
        <div class="miasta">
            {cities.map(c => (
                <CityButton href={`/gabinety/${c.slug}`} name={c.name}/>
            ))}
        </div>
        <Image format='webp' width={434} height={600} class="office" src={office} alt="gabinet" />
        <Image format='webp' width={113} height={774} class="beads" src={beads} alt="paciorki" />
    </div>
</Page>